djangorestframework-simplejwt
django-cors-headers
djangorestframework
drf-yasg
django-allauth
python-dotenv
boto3
django-storages
django-dotenv
psycopg2
psycopg2-binary
requests
PyJWT
gunicorn
cryptography